<div class="w-full flex justify-end mb-10">  
  <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
    Create a new CV
  </button>
</div>

<div>  
  <table class="w-full">
    <thead>
      <tr class="bg-gray-200">
        <th class="text-left py-2 px-4 col-span-3">Name</th>
        <th class="text-left py-2 px-4 col-span-3">Email</th>
        <th class="text-left py-2 px-4 col-span-3">Current Position</th>
        <th class="text-left py-2 px-4 col-span-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="py-2 px-4 col-span-3">John Doe</td>
        <td class="py-2 px-4 col-span-3">john@example.com</td>
        <td class="py-2 px-4 col-span-3">Team Leader</td>
        <td class="text-right py-2 px-4 col-span-3">
          <button class="md:inline sm:block sm:mb-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            Edit
          </button>
          <button class="md:inline sm:block bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>